{% extends 'base.htm' %}
{% include './components/reg_menu.htm' %}
{% block header %}
<h1 style="text-align: center;">{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="POST" action="" style="text-align: center; display: inline-block;">
    {{form.hidden_tag()}}
    {{form.username}}
    {{form.password}}
    <p>{{form.submit}}</p>
</form>
{% endblock %}
<div id="footer" style="line-height: 10%; margin-top: 2%;">
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
</div>